/* .home-container {
  background-image: url(src/assets/images/AAAABTtQx_OFQv5cqAMworKt40lEtgWI0hlofie4tp7vj1VrU0FUOc79HBbm7FDXbjiwnMWVm4OQ5uu3sfw97Sbi-fo4ZHbFIzWofvqm.webp);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
} */
