.bottom-container {
  padding: 0 60px;
}

.supplemental-message {
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
}

.short-description {
  margin-top: 20px;
}

.billboard-buttons {
  margin-top: 20px;
}

.billboard-btn {
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 5px;
}

.billboard-vintage {
  width: 100%;
  height: 14.7vh;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 8%, 0) 0,
    hsla(0, 0%, 8%, 0.15) 15%,
    hsla(0, 0%, 8%, 0.35) 29%,
    hsla(0, 0%, 8%, 0.58) 44%,
    #141414 68%,
    #141414
  );
}
